#content
  #new_category.widget
    .top
    .middle
      %h3 Nueva categoría
      - semantic_form_for([:member, @category]) do |f|
        = render 'form', {:f => f, :commit_label => 'Crear'}
      .clear
    .bottom
#sidebar
  #categories.widget
    .top
    .middle
      %h3 Categorías
      = link_to 'Listar categorías', categories_path
    .bottom
  .clear

