:erb
  <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FVotencamotes%2F157745370932527&amp;width=307&amp;colorscheme=light&amp;connections=20&amp;stream=false&amp;header=false&amp;height=330" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:307px; height:330px; margin-left:10px;" allowTransparency="true"></iframe>

